/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;700&family=Yeseva+One&display=swap');

/* Common Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

/* Nav bar */
.header-bg {
    background-color: #562EFF;
}

.nav-container {
    width: 870px;
    height: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

ul {
    display: flex;
    align-items: center;
}

.logo img,
.menu-item img {
    width: 50px;
}

.nav-container ul li {
    list-style: none;
}

.nav-container ul li a {
    text-decoration: none;
    color: #F3F1FF;
    font-size: 16px;
    margin-right: 20px;
}

/* Main Area */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}

.top-players {
    margin-bottom: 30px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* Top Players styles */
.section-title {
    color: #562EFF;
    font-size: 24px;
    margin: 3px 0 40px 0;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

/* Top Blog Styles */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blog {
    display: flex;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

/* --------------------
    Course Style
----------------------- */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}

.courses .course-banner img {
    width: 224px;
    height: 104px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star.filled {
    color: gold;
}

.fa-star.empty {
    color: lightgray;
}

.fa-clock {
    color: #EB5757;
}

.course-duration {
    background-color: #FFE4E8;
    border-radius: 15px;
    padding: 5px 10px;
}

/* ---------------------
    Media Queries
------------------------ */

/* Mobile Devices */

@media only screen and (max-width: 668px) {
    .container {
        width: 100%;
        justify-content: center;
    }

    .players,
    .blogs {
        grid-template-columns: repeat(1, 1fr);

    }

    .player,
    .blog {
        flex-direction: column;
    }

}

@media only screen and (min-width: 669px) and (max-width: 991px) {
    .container {
        width: 100%;
    }

    .players,
    .courses,
    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }
}